{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouveau Colis |
	{{ parent() }}
{% endblock %}
{% block page_title %}Ajout d'un colis
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="#">Accueil</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{path('colis_index')}}">Cliss</a>
	</li>
	<li class="breadcrumb-item active">Ajout</li>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header"><style>.card-header{background-color: #1cb495;}</style>
					<h3>
						Informations sur les Colis
					</h3>
				</div>
				<div class="card-body">
					{{ include('colis/_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
