{% extends 'baseAdmin.html.twig' %}

{% block title %}Tableaux de bord |
	{{ parent() }}
{% endblock %}
{% block page_title %}Tableaux de bord
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="#">Accueil</a>
	</li>
	<li class="breadcrumb-item active">Dashboard</li>
{% endblock %}
{% block body %}{% endblock %}
