{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouvel LTA |
	{{ parent() }}
{% endblock %}
{% block page_title %}Ajout d'un LTA
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="#">Accueil</a>
	</li>
	<li class="breadcrumb-item">
		<a href="#">LTAs</a>
	</li>
	<li class="breadcrumb-item active">Ajout</li>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<div class="card card-info">
				<div class="card-header"><style>.card-header{background-color: #1cb495;}</style>
					<h3>
						Informations sur les LTA
					</h3>
				</div>
				<div class="card-body">
					{{ include('lta/_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
